In [1]:
import pandas as pd
import jovian

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [2]:
from urllib.request import urlretrieve

urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/countries.csv', 'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7fd9efeaaf70>)

Let's load the data from the CSV file into a Pandas data frame.

In [3]:
countries_df = pd.read_csv('countries.csv')

In [4]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

**Q1: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [134]:
num_countries = countries_df.shape[0]

In [137]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

**Q2: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [7]:
continents = countries_df.continent.unique()

In [8]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

**Q3: What is the total population of all the countries listed in this dataset?**

In [9]:
total_population = countries_df.population.sum()

In [10]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [80]:
overall_life_expectancy = (countries_df.life_expectancy * countries_df.population).sum() / countries_df.population.sum()

In [83]:
print('The overall life expectancy is {:.2f}'.format(overall_life_expectancy))

The overall life expectancy is 72.72

**Q4: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [12]:
most_populous_df = countries_df.sort_values('population',ascending=False).head(10)

In [13]:
most_populous_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
41,China,Asia,1.439324e+09,76.91,4.34,15308.712
90,India,Asia,1.380004e+09,69.66,0.53,6426.674
199,United States,North America,3.310026e+08,78.86,2.77,54225.446
91,Indonesia,Asia,2.735236e+08,71.72,1.04,11188.744
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708
27,Brazil,South America,2.125594e+08,75.88,2.20,14103.452
141,Nigeria,Africa,2.061396e+08,54.69,NaN,5338.454
15,Bangladesh,Asia,1.646894e+08,72.59,0.80,3523.984
157,Russia,Europe,1.459345e+08,72.58,8.05,24765.954
125,Mexico,North America,1.289328e+08,75.05,1.38,17336.469

**Q5: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [14]:
countries_df['gdp'] = countries_df['population'] * countries_df['gdp_per_capita']

In [15]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [16]:
lowest_gdp_per_capita = countries_df[countries_df['population'] > 10000000].sort_values('gdp_per_capita').head(10)

In [17]:
lowest_gdp_per_capita

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
32,Burundi,Africa,11890781.0,61.58,0.8,702.225,8.350004e+09
52,Democratic Republic of Congo,Africa,89561404.0,60.68,NaN,808.133,7.237753e+10
140,Niger,Africa,24206636.0,62.42,0.3,926.000,2.241534e+10
118,Malawi,Africa,19129955.0,64.26,1.3,1095.042,2.094810e+10
132,Mozambique,Africa,31255435.0,60.85,0.7,1136.103,3.550939e+10
117,Madagascar,Africa,27691019.0,67.04,0.2,1416.440,3.922267e+10
207,Yemen,Asia,29825968.0,66.12,0.7,1479.147,4.411699e+10
176,South Sudan,Africa,11193729.0,57.85,NaN,1569.888,1.757290e+10
85,Haiti,North America,11402533.0,64.00,0.7,1653.173,1.885036e+10
195,Uganda,Africa,45741000.0,63.37,0.5,1697.707,7.765482e+10

**Q6: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [138]:
country_counts_df = countries_df.groupby('continent').count()

In [139]:
country_counts_df

,location,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
continent,,,,,,
Africa,55,55,55,40,53,53
Asia,47,47,47,43,45,45
Europe,51,51,48,43,42,42
North America,36,36,36,23,27,27
Oceania,8,8,8,3,4,4
South America,13,13,13,12,12,12

In [140]:
country_counts_df['location']

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: location, dtype: int64

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [142]:
continent_populations_df = countries_df.groupby('continent')['population'].sum()

In [141]:
continent_populations_df

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [25]:
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x7fd9eff14a30>)

In [26]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [27]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q8: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [32]:
total_tests_missing = covid_data_df.total_tests.isna().sum()

In [33]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

Let's merge the two data frames, and compute some more metrics.

**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [34]:
combined_df = covid_data_df.merge(countries_df,on='location')

In [35]:
combined_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,38243.0,1409.0,NaN,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,9728.0,296.0,NaN,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,45158.0,1525.0,NaN,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,1199.0,53.0,NaN,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,2729.0,109.0,NaN,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,1046.0,35.0,261004.0,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,766.0,1.0,NaN,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,1976.0,571.0,NaN,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,12415.0,292.0,NaN,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,6638.0,206.0,97272.0,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [36]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [37]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [38]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [39]:
combined_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,38243.0,1409.0,NaN,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,NaN,982.394806,36.194710
1,Albania,9728.0,296.0,NaN,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,NaN,3380.359997,102.856349
2,Algeria,45158.0,1525.0,NaN,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,NaN,1029.804468,34.776824
3,Andorra,1199.0,53.0,NaN,Europe,77265.0,83.73,NaN,NaN,NaN,NaN,15518.022390,685.950948
4,Angola,2729.0,109.0,NaN,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,NaN,83.033462,3.316470
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,1046.0,35.0,261004.0,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,2681.403324,10.745996,0.359570
206,Western Sahara,766.0,1.0,NaN,Africa,597330.0,70.26,NaN,NaN,NaN,NaN,1282.373228,1.674116
207,Yemen,1976.0,571.0,NaN,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,NaN,66.250993,19.144391
208,Zambia,12415.0,292.0,NaN,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,NaN,675.317108,15.883415
209,Zimbabwe,6638.0,206.0,97272.0,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6544.605918,446.614587,13.859989

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [ ]:
# return only top 10 country test permillion not data fram
# highest_tests_df = combined_df.tests_per_million.sort_values(ascending=False).head(10)

In [65]:
highest_tests_df = combined_df.sort_values('tests_per_million',ascending=False).head(10)

In [66]:
highest_tests_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,tests_per_million,cases_per_million,deaths_per_million
197,United Arab Emirates,71540.0,387.0,7177430.0,Asia,9890400.0,77.97,1.200,67293.483,6.655595e+11,725696.635121,7233.276713,39.128852
14,Bahrain,52440.0,190.0,1118837.0,Asia,1701583.0,77.29,2.000,43290.705,7.366273e+10,657527.137965,30818.361490,111.660730
115,Luxembourg,7928.0,124.0,385820.0,Europe,625976.0,82.25,4.510,94277.965,5.901574e+10,616349.508607,12665.022301,198.090662
122,Malta,1931.0,13.0,188539.0,Europe,441539.0,82.53,4.485,36513.323,1.612206e+10,427004.183096,4373.339614,29.442473
53,Denmark,17195.0,626.0,2447911.0,Europe,5792203.0,80.90,2.500,46682.515,2.703946e+11,422621.755488,2968.645954,108.076323
96,Israel,122539.0,969.0,2353984.0,Asia,8655541.0,82.97,2.990,33132.320,2.867782e+11,271962.665303,14157.289533,111.951408
89,Iceland,2121.0,10.0,88829.0,Europe,341250.0,82.99,2.910,46482.958,1.586231e+10,260304.761905,6215.384615,29.304029
157,Russia,1005000.0,17414.0,37176827.0,Europe,145934460.0,72.58,8.050,24765.954,3.614206e+12,254750.159763,6886.653091,119.327539
199,United States,6114406.0,185744.0,83898416.0,North America,331002647.0,78.86,2.770,54225.446,1.794877e+13,253467.507769,18472.377957,561.155633
10,Australia,25923.0,663.0,6255797.0,Oceania,25499881.0,83.44,3.840,44648.710,1.138537e+12,245326.517406,1016.592979,26.000121

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [73]:
highest_cases_df = combined_df.sort_values('cases_per_million',ascending=False).head(10)

In [74]:
highest_cases_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,tests_per_million,cases_per_million,deaths_per_million
155,Qatar,119206.0,199.0,634745.0,Asia,2881060.0,80.23,1.20,116935.600,3.368985e+11,220316.480740,41375.743650,69.071800
14,Bahrain,52440.0,190.0,1118837.0,Asia,1701583.0,77.29,2.00,43290.705,7.366273e+10,657527.137965,30818.361490,111.660730
147,Panama,94084.0,2030.0,336345.0,North America,4314768.0,78.51,2.30,22267.037,9.607710e+10,77952.047480,21805.112117,470.477208
40,Chile,414739.0,11344.0,2458762.0,South America,19116209.0,80.18,2.11,22767.037,4.352194e+11,128621.841287,21695.671982,593.423100
162,San Marino,735.0,42.0,NaN,Europe,33938.0,84.97,3.80,56861.470,1.929765e+09,NaN,21657.139490,1237.550828
9,Aruba,2211.0,12.0,NaN,North America,106766.0,76.29,NaN,35973.781,3.840777e+09,NaN,20708.839893,112.395332
105,Kuwait,86478.0,535.0,621616.0,Asia,4270563.0,75.49,2.00,65530.537,2.798523e+11,145558.325682,20249.789079,125.276222
150,Peru,663437.0,29259.0,584232.0,South America,32971846.0,76.74,1.60,12236.706,4.034668e+11,17719.117092,20121.318048,887.393445
27,Brazil,3997865.0,123780.0,4797948.0,South America,212559409.0,75.88,2.20,14103.452,2.997821e+12,22572.268255,18808.224105,582.331314
199,United States,6114406.0,185744.0,83898416.0,North America,331002647.0,78.86,2.77,54225.446,1.794877e+13,253467.507769,18472.377957,561.155633

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [75]:
highest_deaths_df = combined_df.sort_values('deaths_per_million',ascending=False).head(10)

In [76]:
highest_deaths_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,tests_per_million,cases_per_million,deaths_per_million
162,San Marino,735.0,42.0,NaN,Europe,33938.0,84.97,3.80,56861.470,1.929765e+09,NaN,21657.139490,1237.550828
150,Peru,663437.0,29259.0,584232.0,South America,32971846.0,76.74,1.60,12236.706,4.034668e+11,17719.117092,20121.318048,887.393445
18,Belgium,85817.0,9898.0,2281853.0,Europe,11589616.0,81.63,5.64,42658.576,4.943965e+11,196887.713967,7404.645676,854.040375
3,Andorra,1199.0,53.0,NaN,Europe,77265.0,83.73,NaN,NaN,NaN,NaN,15518.022390,685.950948
177,Spain,479554.0,29194.0,6416533.0,Europe,46754783.0,83.56,2.97,34272.360,1.602397e+12,137238.001939,10256.790198,624.406705
198,United Kingdom,338676.0,41514.0,13447568.0,Europe,67886004.0,81.32,2.54,39753.244,2.698689e+12,198090.434075,4988.892850,611.525168
40,Chile,414739.0,11344.0,2458762.0,South America,19116209.0,80.18,2.11,22767.037,4.352194e+11,128621.841287,21695.671982,593.423100
97,Italy,271515.0,35497.0,5214766.0,Europe,60461828.0,83.51,3.18,35220.084,2.129471e+12,86248.897403,4490.684602,587.097697
27,Brazil,3997865.0,123780.0,4797948.0,South America,212559409.0,75.88,2.20,14103.452,2.997821e+12,22572.268255,18808.224105,582.331314
182,Sweden,84532.0,5820.0,NaN,Europe,10099270.0,82.80,2.22,46949.283,4.741535e+11,NaN,8370.109919,576.279276

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [87]:
x = combined_df[combined_df.tests_per_million > 0 ]

In [94]:
y = x[x.cases_per_million > 0]

In [102]:
print(f'There are "{x.shape[0]}" countries at feature in both the lists of "highest number of tests per million" and "highest number of cases per million"')

There are "90" countries at feature in both the lists of "highest number of tests per million" and "highest number of cases per million"

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [103]:
countries_with_higher_population = combined_df[combined_df.population > 10000000]

In [105]:
countries_with_higher_population.sample(5)

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,tests_per_million,cases_per_million,deaths_per_million
74,Ghana,44658.0,276.0,442185.0,Africa,31072945.0,64.07,0.900,4227.630,1.313649e+11,14230.546863,1437.198824,8.882325
177,Spain,479554.0,29194.0,6416533.0,Europe,46754783.0,83.56,2.970,34272.360,1.602397e+12,137238.001939,10256.790198,624.406705
23,Bolivia,117928.0,5203.0,238965.0,South America,11673029.0,71.51,1.100,6885.829,8.037848e+10,20471.550272,10102.604902,445.728354
7,Argentina,428226.0,8971.0,1118923.0,South America,45195777.0,76.67,5.000,18933.907,8.557326e+11,24757.246678,9474.911782,198.491996
156,Romania,89891.0,3721.0,1825272.0,Europe,19237682.0,76.05,6.892,23313.199,4.484919e+11,94880.038042,4672.652350,193.422472

In [114]:
lowest_gdp_per_capita = countries_with_higher_population.sort_values('gdp_per_capita',ascending=True).head(20)

In [115]:
lowest_gdp_per_capita

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,tests_per_million,cases_per_million,deaths_per_million
32,Burundi,448.0,1.0,NaN,Africa,11890781.0,61.58,0.8,702.225,8.350004e+09,NaN,37.676247,0.084099
52,Democratic Republic of Congo,10113.0,258.0,NaN,Africa,89561404.0,60.68,NaN,808.133,7.237753e+10,NaN,112.916944,2.880705
140,Niger,1177.0,69.0,NaN,Africa,24206636.0,62.42,0.3,926.000,2.241534e+10,NaN,48.623030,2.850458
118,Malawi,5579.0,175.0,NaN,Africa,19129955.0,64.26,1.3,1095.042,2.094810e+10,NaN,291.636860,9.147957
132,Mozambique,4117.0,25.0,NaN,Africa,31255435.0,60.85,0.7,1136.103,3.550939e+10,NaN,131.721091,0.799861
117,Madagascar,15023.0,196.0,NaN,Africa,27691019.0,67.04,0.2,1416.440,3.922267e+10,NaN,542.522469,7.078107
207,Yemen,1976.0,571.0,NaN,Asia,29825968.0,66.12,0.7,1479.147,4.411699e+10,NaN,66.250993,19.144391
176,South Sudan,2532.0,47.0,NaN,Africa,11193729.0,57.85,NaN,1569.888,1.757290e+10,NaN,226.198079,4.198780
85,Haiti,8258.0,206.0,NaN,North America,11402533.0,64.00,0.7,1653.173,1.885036e+10,NaN,724.225047,18.066161
195,Uganda,3112.0,32.0,381749.0,Africa,45741000.0,63.37,0.5,1697.707,7.765482e+10,8345.882250,68.035242,0.699591
31,Burkina Faso,1378.0,55.0,NaN,Africa,20903278.0,61.58,0.4,1703.102,3.560041e+10,NaN,65.922675,2.631166
63,Ethiopia,54409.0,846.0,869430.0,Africa,114963583.0,66.60,0.3,1729.927,1.988786e+11,7562.655732,473.271610,7.358852
39,Chad,1017.0,77.0,NaN,Africa,16425859.0,54.24,NaN,1768.153,2.904343e+10,NaN,61.914570,4.687730
0,Afghanistan,38243.0,1409.0,NaN,Asia,38928341.0,64.83,0.5,1803.987,7.022622e+10,NaN,982.394806,36.194710
158,Rwanda,4218.0,17.0,393237.0,Africa,12952209.0,69.02,NaN,1854.211,2.401613e+10,30360.612618,325.658735,1.312517
209,Zimbabwe,6638.0,206.0,97272.0,Africa,14862927.0,61.49,1.7,1899.775,2.823622e+10,6544.605918,446.614587,13.859989
82,Guinea,9479.0,59.0,NaN,Africa,13132792.0,61.60,0.3,1998.926,2.625148e+10,NaN,721.781020,4.492571
121,Mali,2802.0,126.0,NaN,Africa,20250834.0,59.31,0.1,2014.306,4.079138e+10,NaN,138.364672,6.221966
20,Benin,2194.0,40.0,NaN,Africa,12123198.0,61.77,0.5,2064.236,2.502514e+10,NaN,180.975350,3.299459
135,Nepal,41649.0,251.0,705560.0,Asia,29136808.0,70.78,0.3,2442.804,7.117551e+10,24215.418518,1429.429058,8.614533

In [116]:
lowest_hospital_beds_per_thousand = countries_with_higher_population.sort_values('hospital_beds_per_thousand',ascending=True).head(20)

In [117]:
lowest_hospital_beds_per_thousand

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,tests_per_million,cases_per_million,deaths_per_million
121,Mali,2802.0,126.0,NaN,Africa,2.025083e+07,59.31,0.10,2014.306,4.079138e+10,NaN,138.364672,6.221966
117,Madagascar,15023.0,196.0,NaN,Africa,2.769102e+07,67.04,0.20,1416.440,3.922267e+10,NaN,542.522469,7.078107
140,Niger,1177.0,69.0,NaN,Africa,2.420664e+07,62.42,0.30,926.000,2.241534e+10,NaN,48.623030,2.850458
135,Nepal,41649.0,251.0,705560.0,Asia,2.913681e+07,70.78,0.30,2442.804,7.117551e+10,24215.418518,1429.429058,8.614533
82,Guinea,9479.0,59.0,NaN,Africa,1.313279e+07,61.60,0.30,1998.926,2.625148e+10,NaN,721.781020,4.492571
63,Ethiopia,54409.0,846.0,869430.0,Africa,1.149636e+08,66.60,0.30,1729.927,1.988786e+11,7562.655732,473.271610,7.358852
31,Burkina Faso,1378.0,55.0,NaN,Africa,2.090328e+07,61.58,0.40,1703.102,3.560041e+10,NaN,65.922675,2.631166
195,Uganda,3112.0,32.0,381749.0,Africa,4.574100e+07,63.37,0.50,1697.707,7.765482e+10,8345.882250,68.035242,0.699591
0,Afghanistan,38243.0,1409.0,NaN,Asia,3.892834e+07,64.83,0.50,1803.987,7.022622e+10,NaN,982.394806,36.194710
20,Benin,2194.0,40.0,NaN,Africa,1.212320e+07,61.77,0.50,2064.236,2.502514e+10,NaN,180.975350,3.299459
90,India,3853406.0,67376.0,44337201.0,Asia,1.380004e+09,69.66,0.53,6426.674,8.868838e+12,32128.304433,2792.314316,48.823033
80,Guatemala,75664.0,2790.0,NaN,North America,1.791557e+07,74.30,0.60,7423.808,1.330017e+11,NaN,4223.366193,155.730488
145,Pakistan,297014.0,6328.0,2662508.0,Asia,2.208923e+08,67.27,0.60,5034.708,1.112128e+12,12053.419817,1344.609832,28.647441
85,Haiti,8258.0,206.0,NaN,North America,1.140253e+07,64.00,0.70,1653.173,1.885036e+10,NaN,724.225047,18.066161
207,Yemen,1976.0,571.0,NaN,Asia,2.982597e+07,66.12,0.70,1479.147,4.411699e+10,NaN,66.250993,19.144391
187,Tanzania,509.0,21.0,NaN,Africa,5.973421e+07,65.46,0.70,2683.304,1.602851e+11,NaN,8.521080,0.351557
132,Mozambique,4117.0,25.0,NaN,Africa,3.125544e+07,60.85,0.70,1136.103,3.550939e+10,NaN,131.721091,0.799861
32,Burundi,448.0,1.0,NaN,Africa,1.189078e+07,61.58,0.80,702.225,8.350004e+09,NaN,37.676247,0.084099
33,Cambodia,274.0,0.0,NaN,Asia,1.671897e+07,69.82,0.80,3645.070,6.094182e+10,NaN,16.388568,0.000000
204,Venezuela,48883.0,398.0,NaN,South America,2.843594e+07,72.06,0.80,16745.022,4.761605e+11,NaN,1719.056759,13.996371

In [118]:
lowest_per_gdp_and_hospital = lowest_gdp_per_capita.merge(lowest_hospital_beds_per_thousand,on='location')

In [119]:
lowest_per_gdp_and_hospital

,location,total_cases_x,total_deaths_x,total_tests_x,continent_x,population_x,life_expectancy_x,hospital_beds_per_thousand_x,gdp_per_capita_x,gdp_x,...,total_tests_y,continent_y,population_y,life_expectancy_y,hospital_beds_per_thousand_y,gdp_per_capita_y,gdp_y,tests_per_million_y,cases_per_million_y,deaths_per_million_y
0,Burundi,448.0,1.0,NaN,Africa,11890781.0,61.58,0.8,702.225,8.350004e+09,...,NaN,Africa,11890781.0,61.58,0.8,702.225,8.350004e+09,NaN,37.676247,0.084099
1,Niger,1177.0,69.0,NaN,Africa,24206636.0,62.42,0.3,926.000,2.241534e+10,...,NaN,Africa,24206636.0,62.42,0.3,926.000,2.241534e+10,NaN,48.623030,2.850458
2,Mozambique,4117.0,25.0,NaN,Africa,31255435.0,60.85,0.7,1136.103,3.550939e+10,...,NaN,Africa,31255435.0,60.85,0.7,1136.103,3.550939e+10,NaN,131.721091,0.799861
3,Madagascar,15023.0,196.0,NaN,Africa,27691019.0,67.04,0.2,1416.440,3.922267e+10,...,NaN,Africa,27691019.0,67.04,0.2,1416.440,3.922267e+10,NaN,542.522469,7.078107
4,Yemen,1976.0,571.0,NaN,Asia,29825968.0,66.12,0.7,1479.147,4.411699e+10,...,NaN,Asia,29825968.0,66.12,0.7,1479.147,4.411699e+10,NaN,66.250993,19.144391
5,Haiti,8258.0,206.0,NaN,North America,11402533.0,64.00,0.7,1653.173,1.885036e+10,...,NaN,North America,11402533.0,64.00,0.7,1653.173,1.885036e+10,NaN,724.225047,18.066161
6,Uganda,3112.0,32.0,381749.0,Africa,45741000.0,63.37,0.5,1697.707,7.765482e+10,...,381749.0,Africa,45741000.0,63.37,0.5,1697.707,7.765482e+10,8345.882250,68.035242,0.699591
7,Burkina Faso,1378.0,55.0,NaN,Africa,20903278.0,61.58,0.4,1703.102,3.560041e+10,...,NaN,Africa,20903278.0,61.58,0.4,1703.102,3.560041e+10,NaN,65.922675,2.631166
8,Ethiopia,54409.0,846.0,869430.0,Africa,114963583.0,66.60,0.3,1729.927,1.988786e+11,...,869430.0,Africa,114963583.0,66.60,0.3,1729.927,1.988786e+11,7562.655732,473.271610,7.358852
9,Afghanistan,38243.0,1409.0,NaN,Asia,38928341.0,64.83,0.5,1803.987,7.022622e+10,...,NaN,Asia,38928341.0,64.83,0.5,1803.987,7.022622e+10,NaN,982.394806,36.194710
10,Guinea,9479.0,59.0,NaN,Africa,13132792.0,61.60,0.3,1998.926,2.625148e+10,...,NaN,Africa,13132792.0,61.60,0.3,1998.926,2.625148e+10,NaN,721.781020,4.492571
11,Mali,2802.0,126.0,NaN,Africa,20250834.0,59.31,0.1,2014.306,4.079138e+10,...,NaN,Africa,20250834.0,59.31,0.1,2014.306,4.079138e+10,NaN,138.364672,6.221966
12,Benin,2194.0,40.0,NaN,Africa,12123198.0,61.77,0.5,2064.236,2.502514e+10,...,NaN,Africa,12123198.0,61.77,0.5,2064.236,2.502514e+10,NaN,180.975350,3.299459
13,Nepal,41649.0,251.0,705560.0,Asia,29136808.0,70.78,0.3,2442.804,7.117551e+10,...,705560.0,Asia,29136808.0,70.78,0.3,2442.804,7.117551e+10,24215.418518,1429.429058,8.614533

In [121]:
print(f'{lowest_per_gdp_and_hospital.shape[0]} Countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population".')

14 Countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population".

In [143]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "ajmehdi5/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/ajmehdi5/pandas-practice-assignment

'https://jovian.ai/ajmehdi5/pandas-practice-assignment'

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/2

In [144]:
jovian.commit(outputs=['covid-countries-data.csv'])

[jovian] Updating notebook "ajmehdi5/pandas-practice-assignment" on https://jovian.ai/
[jovian] Uploading additional outputs...
[jovian] Committed successfully! https://jovian.ai/ajmehdi5/pandas-practice-assignment

'https://jovian.ai/ajmehdi5/pandas-practice-assignment'

In [145]:
jovian.commit(outputs=['countries.csv'])

[jovian] Updating notebook "ajmehdi5/pandas-practice-assignment" on https://jovian.ai/
[jovian] Uploading additional outputs...
[jovian] Committed successfully! https://jovian.ai/ajmehdi5/pandas-practice-assignment

'https://jovian.ai/ajmehdi5/pandas-practice-assignment'